body{
    padding-top: 50px;
    background: #31363b;
}


.bny-footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    background: url(ears.svg) no-repeat bottom center/contain;
    height: 300px;
    padding: 2.5rem 0;
}
.bny-footer p:last-child {
    margin-bottom: 0;
}
.inner-footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 25%;
}